@import 'variables';

.coming-soon {
  font-size: 1.2em;
  height: 750px;
  display: flex;
  h1 {
    color: white;
    align-self: center;
  }
}

@media screen and (max-width: $main-break) {
  .coming-soon {
    height: 78vh;
  }
}
