.footer-content {
  color: white;
  display: flex;
  justify-content: space-between;

  .footer-contact {
    display: flex;
    align-items: center;
  }
}

.footer-icon {
  margin: 60px 40px 50px 0;
}
