@import 'variables';

.spacer {
  width: 35px;
}

.slider-wrapper {
  margin-top: $header-clear;
}

.fa-twitter {
  padding-left: 3px;
}

.container-2 {
  margin: 0 4%;
  font-family: 'Russo One', sans-serif;
  color: $logolightblue;

  h1 {
    font-size: $section-title-text;
    margin-top: 45px;
    margin-bottom: 25px;
  }

  .row-2 {
    display:flex;

    .youtube-2 {
      width: 65%;
    }
  }

  .row-3 {
    display: flex;
    .video-container2 {
      width: 34%;
    }
  }
}
