@import 'variables';

.slider-wrapper {
  margin-top: $header-clear;
}

.fa-twitter {
  padding-left: 3px;
}

.container-2 {
  margin: 0 4%;
  font-family: 'Russo One', sans-serif;
  color: $logolightblue;

  h1 {
    font-size: $section-title-text;
    margin-top: 65px;
    margin-bottom: $section-title-clear-bottom;
  }
}

@media screen and (max-width: $main-break) {
  .container-2 h1 { margin-top: 65px; }
  .slider-wrapper { margin-top: 35px;}

}
