@import 'variables';

header {
  border-bottom: 2px solid white;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  background-color: $containertheme;

  .logo {
    width: 160px;
    position: absolute;
    padding-top: 10px;
  }

  ul {
    display: flex;
    padding-right: 20px;

    li {
      padding:0 21px;
      border-left: 1px solid white;
      transform: skewX(-25deg);
      height: $navbar-height;
      text-transform: uppercase;
      display: inline-block;

      a {
        display: flex;
        transform: skewX(25deg);
        align-items: center;
        height: 100%;
        width: 100%;
        line-height: 20px;

        img.overwatch-logo {
          width: 150px;
        }
        img.csgo-logo {
          width: 90px;
        }
        img.twitch-logo {
          width: 100px;
        }
        img.store-logo {
          width: 80px;
        }
      }
    }
  }
}

// Mobile Nav Styles

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}
.bm-burger-bars {
  background: white;
}
.bm-cross-button {
  height: 35px;
  width: 35px;
  button {
    cursor: pointer;
  }
}
.bm-cross {
  background: #bdc3c7;
  cursor: pointer;
}
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow-y: hidden;
}
.bm-morph-shape {
  fill: #373a47;
}
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  height: auto !important;
}
.bm-over-lay {
background: rgba(0, 0, 0, 0.3);
}
.bm-menu-wrap {
  position: absolute;
}
.mobile-nav-item {
  text-decoration: none;
  color: $logolightblue;
}
.mobile-nav {
  display: none;
}

@media screen and (max-width: $primary-break) {
  .mobile-nav {
    display: inline;
  }
  header {
    .logo {
      width: 130px;
    }

    ul {
      li {
        height: $navbar-height;
        border-left: none;
        a {
          img {
            display: none;
          }
        }
      }
    }
  }
}
