@import 'variables';

.team-container {
  margin-top: $header-clear;
  margin-left: 12%;
  margin-right: 12%;
  color: white;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
  color: $logolightblue;
  font-size: $section-title-text;
}
