@import 'variables';

.team-container {
  margin-top: $header-clear;
  margin-left: 12%;
  margin-right: 12%;
  color: white;
  font-family: 'Russo One', sans-serif;
  color: $logolightblue;
  font-size: $section-title-text;

  h1 {
    margin-bottom: $section-title-clear-bottom;
  }
}

.overwatch-row-1, .overwatch-row-2 {
  display: flex;
  justify-content: space-between;
}
