// Colors
$logolightblue: #1EB4ED;
$logodarkblue: #021C4A;
$logolightorange: #F9BA3E;
$logodarkorange: #F38231;
$containertheme: #191919;

// Other
$header-clear: 70px;
$section-title-clear-bottom: 25px;
$section-title-text: 1.4em;
$navbar-height: 110px;
